import(XML)


export(read.sdmx, getCodeListNames, getCodeList, getDataSet, getPriMes, getAttr,getDimOld, getTimeDim)

#exportClasses("RSDMX","XMLInternalDocument", "XMLAbstractDocument")
#exportClasses("RSDMXCodeLists","RSDMX","XMLInternalDocument", "XMLAbstractDocument")
#exportClasses("RSDMXDataSet","RSDMX","XMLInternalDocument", "XMLAbstractDocument")
exportClasses("RSDMXDataSet","RSDMXCodeLists","RSDMX")#,"XMLInternalDocument", "XMLAbstractDocument")

export(getDim)
exportMethods(getDim)

export(getKeyFamily)
exportMethods(getKeyFamily)

S3method(print,RSDMX)
S3method(summary,RSDMXCodeLists)
S3method(summary,RSDMXDataSet)
S3method(summary,RSDMXKeyFamilies)
S3method(summary,RSDMX)

S3method(as.data.frame,RSDMXCodeLists)
S3method(as.data.frame,RSDMXDataSet)

